.metrics-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding-left: 0;
    height: 100%;
}
.metric-item{
    padding: 15px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.metric-icon-container{
    padding: 8px;
    border-radius: 10px;
    justify-content: flex-start;
    width: fit-content;
}
.metric-name{
    font-size: 14px;
    color: var(--white-color-light);
    margin-top: 8px;
}
.metric-count-container{
    justify-content: space-between;
    margin-top: 12px;
}
.metric-count{
    font-size: 26px;
    font-weight: bold;
    color: var(--white-color);
}
.percent-increase{
    color: #1aba8d;
}
.percent-decrease{
    color: #e35456;
}

@media screen and (max-width: 1200px) {
    .metrics-container{
        gap: 12px;
    }
    .metric-name{
        font-size: 12px;
    }
    .metric-count{
        font-size: 22px;
    }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
    .metrics-container{
        gap: 10px;
    }
    .metric-name{
        font-size: 10px;
    }
    .metric-count{
        font-size: 18px;
    }
}
@media screen and (max-width: 500px) {
    .metrics-container{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
}